footer.footer
  .footer__logo
    img(src='/img/logo-green.png', alt='Natours')

  .footer__nav
    a(href='#') About Us 
    a(href='#') Download apps
    a(href='#') Become a guide
    a(href='#') Careers
    a(href='#') Contact

  p.footer__copyright &copy; Ghost. All rights reserved